<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <!--url_for() every time we generate an application URL!!-->
            <a href="{{ url_for("index") }}">Home</a>
            <a href="{{ url_for("login") }}">Login</a>
        </div>
        <hr>
        <!--returns a list of all the messages
        that have been registered with flash() previously in the
        routes.py-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>